@import 'config';

.bookmark-container {

    a {
        color: $tertiary-color;
        font-weight: bolder;
        text-decoration: none;
        transition: 0.3s;
        
        &:hover {
            color: $light-gray;
        }
    }
    & .separator{
        font-weight: bolder;
        color: $tertiary-color;
        cursor: default;
    }
}