$primary-color: #333333;
$secondary-color: #FFFFFF;
$tertiary-color: #000000;
$light-gray: #7a7a7a;
$kirmus-pink: #ff2986;

input[type=range]::-webkit-slider-thumb {
  background-color: #333333;
  &:active, &:focus{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
  }
}

@keyframes rotateUpDown {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}

@keyframes lightToDark {
  0% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(0%);
  }
}
@keyframes lightToDark2 {
  0% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(50%);
  }
}
@keyframes lightToDark3 {
  0% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(90%);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}