@import 'config';

.page-button{
    border: 1px solid $light-gray;
    background-color: $tertiary-color;
    color: $secondary-color;
    border-radius: 10px;
    font-size: 1rem;
    i{
        font-size: 1rem;
        vertical-align: middle;
        &::before{
            vertical-align: middle;
        }
    }
    padding: 0.5rem;

    &:hover{
        animation: lightToDark2 0.3s alternate forwards;
    }
    &:active{
        animation: lightToDark2 0.3s alternate forwards;
        transform: translateY(3px);
    }


}

#page-number-top, #page-number-bottom{
    margin-top: 10px !important;
    font-size: 1.5rem !important;
    vertical-align: middle !important;
  }